<div *ngIf="sidebarService.expandOverview; else contracted">
  <div class="container is-fullwidth max-height is-sidebar-primary sidebar expanded" style="overflow-y: scroll;">
    <div class="columns is-vcentered has-text-centered top-padding is-gapless">
      <div class="column">
        <button class="button" (click)="sidebarService.toggleOverview()">
          <span class="icon is-small">
            <fa-icon [icon]="faBars"></fa-icon>
          </span>
        </button>
      </div>
      <div class="column is-10">
        <div class="has-text-white title is-4 expanded-content no-multi-line has-text-left">Drone Overview</div>
      </div>
    </div>
    <div class="container expanded-content">
      <div class="content has-text-white">

        <div *ngFor="let drone of inputDrones">
          <app-drone-card [inputDrone]=drone></app-drone-card>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #contracted>
  <div class="container is-fullwidth max-height is-sidebar-primary sidebar contract">
    <div class="columns is-vcentered has-text-centered top-padding is-gapless">
      <div class="column">
        <button class="button" (click)="sidebarService.toggleOverview()">
          <span class="icon is-small">
            <fa-icon [icon]="faBars"></fa-icon>
          </span>
        </button>
      </div>
    </div>
    <div class="container">
        <div class="has-text-white title is-5 expanded-content has-text-upright" style="padding-left: 12px;">Drone Overview</div>
    </div>
  </div>
</ng-template>
