<div class="hero-head has-background-dark">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a [routerLink]="['']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-item">
          <h1>DRONE</h1>
          <h1 class="has-text-weight-bold"> SEARCH</h1>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <a [routerLink]="['/dashboard']" routerLinkActive="is-active" class="navbar-item">
            Dashboard
          </a>
          <a [routerLink]="['/setup']" routerLinkActive="is-active" class="navbar-item">
            Setup
          </a>
          <div class="navbar-item">
            <button class="button has-text-white" (click)="droneService.launchModalActive = true"
              [ngClass]="droneService.isSearchLive? 'drone-status-error-icon' : 'drone-status-active-icon'">
              {{droneService.isSearchLive? 'Recall Search': 'Launch Search'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<app-launch-modal></app-launch-modal>
