<div class="hero-head has-background-dark">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a [routerLink]="['']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"
          class="navbar-item">
          <h1>DRONE</h1>
          <h1 class="has-text-weight-bold"> SEARCH</h1>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <button class="button has-text-white drone-status-active-icon" (click)="demoService.toggleStartDemo()"
              [ngClass]="demoService.isDemoLive? 'drone-status-error-icon' : 'drone-status-active-icon'">
              {{demoService.btnTxt}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>