<div class="card">
      <div class="columns is-vcentered is-gapless">
        <div class="column is-narrow">
          <div class="container">
            <button class="button is-info is-rounded is-icon-left">
              <span class="icon">
                <strong>1</strong>
              </span>
            </button>
          </div>
        </div>
        <div class="column has-text-left">
          <p class="title is-6" style="margin-left: 10px !important;">Drone #{{inputDrone.uuid}}</p>
        </div>
        <div class="column is-6 has-text-left">
          <p class="has-text-grey" style="margin-left: 10px !important;">Last update: 5 min</p>
        </div>
      </div>
  <div class="columns">
    <div class="column is-6">
      <div class="container">
        <button class="button long is-info is-rounded is-fullwidth is-icon-left">
          <span class="icon">
            <fa-icon [icon]="faCrosshairs"></fa-icon>
          </span>
          <span>Center map</span>
        </button>
        <button class="button long is-info is-rounded is-fullwidth is-icon-left">
          <span class="icon">
            <fa-icon [icon]="faFile"></fa-icon>
          </span>
          <span>Show logs</span>
        </button>
        <button class="button long is-rounded is-fullwidth is-icon-left"
          [ngClass]="{'is-info': inputDrone.status == 1, 'no-livefeed': inputDrone.status != 1}"
          [attr.disabled]="inputDrone.status != 1 ? '' : null">
          <span class="icon">
            <fa-icon [icon]="faCamera"></fa-icon>
          </span>
          <span>Livefeed</span>
        </button>
      </div>
    </div>
    <div class="column is-6">
      <div class="columns is-gapless is-vcentered no-margin-bottom">
        <div class="column is-narrow">
          <span class="icon small-icon">
            <fa-icon [icon]="faCamera"></fa-icon>
          </span>
        </div>
        <div class="column has-text-left">
          <p class="subtitle is-6">Battery: {{ inputDrone.batteryPercentage }}%</p>
        </div>
      </div>
      <div class="columns is-gapless is-vcentered no-margin-bottom">
        <div class="column is-narrow">
          <span class="icon small-icon">
            <fa-icon [icon]="faMapMarker"></fa-icon>
          </span>
        </div>
        <div class="column has-text-left">
          <p class="subtitle is-6">Position: {{ inputDrone.currentPosition.latitude }}, {{inputDrone.currentPosition.longitude}}</p>
        </div>
      </div>
      <div class="columns is-gapless is-vcentered no-margin-bottom">
        <div class="column is-narrow">
          <span class="icon small-icon">
            <fa-icon [icon]="faArrows"></fa-icon>
          </span>
        </div>
        <div class="column has-text-left">
          <p class="subtitle is-6">Altitude: {{ inputDrone.currentPosition.altitude }}</p>
        </div>
      </div>
      <div class="columns is-gapless is-vcentered no-margin-bottom">
        <div class="column is-narrow">
          <span class="icon small-icon">
            <fa-icon [icon]="faInfo"></fa-icon>
          </span>
        </div>
        <div class="column has-text-left">
          <p class="subtitle is-6">Status: {{droneStatusString}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
