<div class="tile">
  <div class="columns columns-margin">

    <!-- Small Video Columns -->
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 1">
        <div class="container" [ngClass]="[(selectedVidIndex == 0) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 0) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[0] (click)="onPlayerClick(0)" (dblclick)="onPlayerDoubleClick(0)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 2">
        <div class="container" [ngClass]="[(selectedVidIndex == 1) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 1) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[1] (click)="onPlayerClick(1)" (dblclick)="onPlayerDoubleClick(1)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 3">
        <div class="container" [ngClass]="[(selectedVidIndex == 2) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 2) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[2] (click)="onPlayerClick(2)" (dblclick)="onPlayerDoubleClick(2)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 4">
        <div class="container" [ngClass]="[(selectedVidIndex == 3) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 3) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[3] (click)="onPlayerClick(3)" (dblclick)="onPlayerDoubleClick(3)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 5">
        <div class="container" [ngClass]="[(selectedVidIndex == 4) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 4) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[4] (click)="onPlayerClick(4)" (dblclick)="onPlayerDoubleClick(4)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 6">
        <div class="container" [ngClass]="[(selectedVidIndex == 5) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 5) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[5] (click)="onPlayerClick(5)" (dblclick)="onPlayerDoubleClick(5)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 7">
        <div class="container" [ngClass]="[(selectedVidIndex == 6) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 6) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[6] (click)="onPlayerClick(6)" (dblclick)="onPlayerDoubleClick(6)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 8">
        <div class="container" [ngClass]="[(selectedVidIndex == 7) ? 'vid-container-selected' : 'vid-container-unselected', (hoverVidIndex == 7) ? 'vid-container-hover' : '']">
          <app-video-player [source]=obsList[7] (click)="onPlayerClick(7)" (dblclick)="onPlayerDoubleClick(7)" (playerApi)="addPlayerApi($event)">
          </app-video-player>
        </div>
      </div>
    </div>

    <!-- Enlarged Video Column -->
    <div class="column is-4">
      <div class="container ">
        <app-video-player [source]=enlargedVidPathObs (playerApi)="addEnlargedPlayerApi($event)"></app-video-player>
      </div>
    </div>
  </div>
</div>
