<div class="tile">
  <div class="columns columns-margin">

    <!-- Small Video Columns -->
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 1">
        <div class="container vid-container">
          <app-video-player [source]=obsList[0]></app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 2">
        <div class="container vid-container">
          <app-video-player [source]=obsList[1]></app-video-player>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 3">
        <div class="container vid-container">
          <app-video-player [source]=obsList[2]></app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 4">
        <div class="container vid-container">
          <app-video-player [source]=obsList[3]></app-video-player>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 5">
        <div class="container vid-container">
          <app-video-player [source]=obsList[4]></app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 6">
        <div class="container vid-container">
          <app-video-player [source]=obsList[5]></app-video-player>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div *ngIf="this.feedsService.feeds.length >= 7">
        <div class="container vid-container">
          <app-video-player [source]=obsList[6]></app-video-player>
        </div>
      </div>
      <div *ngIf="this.feedsService.feeds.length >= 8">
        <div class="container vid-container">
          <app-video-player [source]=obsList[7]></app-video-player>
        </div>
      </div>
    </div>

    <!-- Enlarged Video Column -->
    <div class="column is-4">
      <div class="container ">
        <app-video-player [source]=enlargedVidPathObs></app-video-player>
      </div>
    </div>
  </div>
</div>

