@charset "utf-8";

// Change Bulma variables.
$grey-color:#565656;
$selected-color:#858585;
$sidebar-primary:#6D6D6D;
$sidebar-secondary:#B9B9B9;
$dark:$grey-color;
$grey-light:$selected-color;

$navbar-height: 3.25rem;

// Import bulma after setting variables.
@import "../node_modules/bulma/bulma.sass";

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.navbar-item{
  color: white;
}

.navbar-item:hover{
  background-color: $selected-color !important;
  color: $grey-color !important;
}

.navbar-item.is-active{
  background-color: $selected-color !important;
  color: white !important;
}

.is-sidebar-primary{
  background-color: $sidebar-primary;
}

.is-sidebar-secondary{
  background-color: $sidebar-secondary;
}

// Use on columns in main window.
.full-columns {
  min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  max-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow-y: auto;
}

// Use on sidebar container.
.max-height {
  min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  max-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  height: calc(100vh - ( #{$navbar-height} - .75rem ) );
}

.is-fullwidth {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.navbar {
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
}

agm-map {
  min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  max-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
  height: calc(100vh - ( #{$navbar-height} - .75rem ) );
}
