.map-child {
  position: absolute !important;
  transform: translateY(-150%);
  left: 20px !important;
}

.button {
  border-width: 0px;
}

.info-card {
  background-color: transparent;
}
agm-map {
  height: 68vh;
}

.feeds-container {
  background-color: #565656;
  height: 32vh;
}

.is-fullheight {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}
