<div class="columns is-fullwidth is-gapless full-columns" style="overflow: hidden;">
  <div class="column">
    <div class="container is-fullwidth">
        <agm-map [latitude]="57.052243" [longitude]="9.933000"
                [zoom]="16" [styles]=mapstyle [disableDefaultUI]="true"
                [mapDraggable]="false">

                <agm-marker *ngFor="let drone of droneService.droneList; let i=index"
                  [iconUrl]=drone.ui.iconUrl
                  [label]="{color: 'white', text: (i + 1).toString(), fontWeight: 'bold', fontFamily: 'monospace'}"
                  [latitude]="drone.currentPosition.latitude"
                  [longitude]="drone.currentPosition.longitude"
                  ></agm-marker>

        </agm-map>
    </div>
  </div>
  <div class="column is-narrow">
    <app-drone-overview [inputDrones]=droneService.droneList></app-drone-overview>
  </div>
  <div class="column is-narrow">
    <app-livefeed></app-livefeed>
  </div>
</div>




<!--

<div class="columns is-gapless is-fullwidth fullheight columns-fullheight">
  <div class="column is-8 has-text-white">
    <div class="container">
    </div>
  </div>

  <div class="column is-2 is-sidebar-primary has-text-white">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-1">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
        <div class="column">
          <div class="content"><h4 class="has-text-white">Drone Overview</h4></div>
        </div>
      </div>
    </div>
    <div class="container">2½
    </div>
  </div>

  <div class="column is-2 is-sidebar-secondary has-text-white">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-1">
            <fa-icon [icon]="faVideo"></fa-icon>
        </div>
        <div class="column">
          <div class="content"><h4 class="has-text-white">Livefeed</h4></div>
        </div>
      </div>
    </div>
    <div class="container">2½
    </div>
</div>

-->

