<app-object-confirm></app-object-confirm>
<div class="columns is-fullwidth is-gapless full-columns" style="overflow: hidden;">
  <div class="column">
    <!-- Map container -->
    <div class="container is-fullwidth">

      <agm-map [latitude]=mapService.latitude [longitude]=mapService.longitude [zoom]="15" [styles]=mapstyle
        [disableDefaultUI]="true" [mapDraggable]="true">

        <!-- Person Marker -->
        <ng-container *ngIf="personService.Show | async">
          <agm-marker *ngIf="personService.Position | async; let pos"
            [iconUrl]="{url: '/assets/icons/person.svg', scaledSize:{height:45,width:45}}" [latitude]="pos.lat"
            [longitude]="pos.lng" [zIndex]="30" [markerClickable]=false>
          </agm-marker>
        </ng-container>

        <!-- Boat Marker -->
        <ng-container *ngIf="boatService.BoatPosition | async; let pos">

          <agm-marker
            [iconUrl]='{path: getSvgPath(boatService.BoatOrientation | async), fillColor: "#FFFFFF", fillOpacity: 0.25, strokeWeight: 0}'
            [latitude]="pos.lat" [longitude]="pos.lng" [zIndex]="10" [markerClickable]=false>
          </agm-marker>

          <agm-marker [iconUrl]="{url: '/assets/icons/boat.svg', scaledSize:{height:30,width:30}}" [latitude]="pos.lat"
            [longitude]="pos.lng" [zIndex]="20" [markerClickable]=false>
          </agm-marker>

        </ng-container>

        <!-- Drone Markers -->
        <ng-container *ngFor="let drone of droneService.droneList; let i=index">

          <agm-marker
            [iconUrl]='{path: getSvgPath(drone.currentPosition.bearing - 90), fillColor: "#FFFFFF", fillOpacity: 0.25, strokeWeight: 0}'
            [latitude]="drone.currentPosition.latitude" [longitude]="drone.currentPosition.longitude" [zIndex]="10"
            [markerClickable]=false>
          </agm-marker>

          <agm-marker [iconUrl]="{url: drone.ui.iconUrl, scaledSize:{height:30,width:30}}"
            [label]="{color: 'white', text: (i + 1).toString(), fontWeight: 'bold', fontFamily: 'monospace'}"
            [latitude]="drone.currentPosition.latitude" [longitude]="drone.currentPosition.longitude" [zIndex]="20"
            [markerClickable]=false>

            <agm-snazzy-info-window [maxWidth]="200" [isOpen]="true" [placement]="'right'" [closeOnMapClick]="false"
              [showCloseButton]="false" [panOnOpen]="false" [pointer]=false [shadow]=false [padding]="'0'"
              [backgroundColor]="'transparent'" [border]="false" [fontColor]="'white'">
              <ng-template>
                <ng-container *ngIf="boatService.BoatPosition | async; let pos">
                  Distance: {{mapService.calculateDistance(drone.currentPosition.latitude,
                  drone.currentPosition.longitude, pos.lat, pos.lng)}}m<br>
                  Bearing: {{mapService.calculateBearing(drone.currentPosition.latitude, drone.currentPosition.longitude,
                  pos.lat, pos.lng)}}°
                </ng-container>
              </ng-template>
            </agm-snazzy-info-window>

          </agm-marker>

        </ng-container>

        <!-- Zone -->
        <ng-container *ngFor="let zone of droneService.droneZones; let i=index">
          <agm-polygon [paths]="zone.area" [fillColor]="grey" [fillOpacity]="0.1" [strokeColor]="black"
            [strokeOpacity]="1" (polyClick)="ctrlClick($event)"></agm-polygon>
        </ng-container>

      </agm-map>

      <!-- Map buttons -->
      <!-- <div class="container map-child">
        <button class="button is-rounded is-icon-left" (click)="mapService.centerMap()">
          <span class="icon">
            <fa-icon [icon]="faCrosshairs"></fa-icon>
          </span>
          <span>Center map</span>
        </button>
      </div>
    </div> -->

      <!-- Livefeed bar -->
      <div class="container is-fullwidth feeds-container">
        <app-livefeeds></app-livefeeds>
      </div>
    </div>
  </div>

  <!-- Full Screen Modal -->
  <div *ngIf="(feedsService.activeFullscreenSourceObs | async) != null">
    <app-video-modal></app-video-modal>
  </div>
