<div class="columns is-fullwidth is-gapless full-columns" style="overflow: hidden;">
  <div class="column">
    <!-- Map container -->
    <div class="container is-fullwidth">

      <agm-map [latitude]=mapService.latitude [longitude]=mapService.longitude [zoom]="16" [styles]=mapstyle
        [disableDefaultUI]="true" [mapDraggable]="true">

        <agm-marker *ngFor="let drone of droneService.droneList; let i=index"
          [iconUrl]="{url: drone.ui.iconUrl, scaledSize:{height:30,width:30}}"
          [label]="{color: 'white', text: (i + 1).toString(), fontWeight: 'bold', fontFamily: 'monospace'}"
          [latitude]="drone.currentPosition.latitude" [longitude]="drone.currentPosition.longitude">
        </agm-marker>

        <agm-marker *ngIf="boatService.BoatPosition | async; let pos"
          [iconUrl]="{url: '/assets/icons/boat.svg', scaledSize:{height:30,width:30}}"
          [latitude]="pos.lat" [longitude]="pos.lng">
        </agm-marker>

        <!--<ng-container *ngFor="let zone of droneService.droneZones; let i=index">
          <agm-polygon [paths]="zone.area" [fillColor]="zone.zoneColor"
            [fillOpacity]="droneService.selectedDroneId == zone.droneUuid ? 0.7 : 0.4" [strokeColor]="zone.zoneColor"
            [strokeOpacity]="droneService.selectedDroneId == zone.droneUuid ? 1.0 : 0.4"
            (polyClick)="droneService.selectedDroneId = zone.droneUuid"></agm-polygon>
          <agm-polyline [strokeColor]="zone.zoneColor">
            <agm-polyline-point *ngFor="let point of zone.path" [latitude]="point.lat" [longitude]="point.lng">
            </agm-polyline-point>
          </agm-polyline>
          <agm-circle *ngFor="let point of zone.path" [latitude]="point.lat" [longitude]="point.lng" [radius]="5"
            [fillOpacity]=1 [fillColor]="zone.zoneColor"></agm-circle>
        </ng-container>-->

      </agm-map>

      <!-- Map buttons -->
      <div class="container map-child">
        <button class="button is-rounded is-icon-left" (click)=mapService.centerMap()>
          <span class="icon">
            <fa-icon [icon]="faCrosshairs"></fa-icon>
          </span>
          <span>Center map</span>
        </button>
      </div>
    </div>

    <div class="container is-fullwidth feeds-container">
      <app-livefeeds></app-livefeeds>
    </div>

  </div>
</div>



