.map-child {
  position: absolute !important;
  transform: translateY(-150%);
  left: 20px !important;
}

.button {
  border-width: 0px;
}

agm-map {
  height: 68vh;
}

.feeds-container {
  background-color: #565656;
  height: 32vh;
}
